doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World
    link(rel='stylesheet', type='text/css', href='build/build.css?v1511302330D')

  body

    article

      section
        div.flonote Slide 1/18
        img(src="images/ll/1.svg" style='height: 100%')

      section
        div.flonote Slide 2/18
        img(src="images/ll/2.svg" style='height: 100%')

      section
        div.flonote Slide 3/18
        img(src="images/ll/3.svg" style='height: 100%')

      section
        div.flonote Slide 4/18
        img(src="images/ll/4.svg" style='height: 100%')

      section
        div.flonote Slide 5/18
        img(src="images/ll/5.svg" style='height: 100%')

      section
        div.flonote Slide 6/18
        img(src="images/ll/6.svg" style='height: 100%')

      section
        div.flonote Slide 7/18
        img(src="images/ll/7.svg" style='height: 100%')

      section
        div.flonote Slide 8/18
        img(src="images/ll/8.svg" style='height: 100%')

      section
        div.flonote Slide 9/18
        img(src="images/ll/9.svg" style='height: 100%')

      section
        div.flonote Slide 10/18
        img(src="images/ll/10.svg" style='height: 100%')

      section
        div.flonote Slide 11/18
        img(src="images/ll/11.svg" style='height: 100%')

      section
        div.flonote Slide 12/18
        img(src="images/ll/12.svg" style='height: 100%')

      section
        div.flonote Slide 13/18
        img(src="images/ll/13.svg" style='height: 100%')

      section
        div.flonote Slide 14/18
        img(src="images/ll/14.svg" style='height: 100%')

      section
        div.flonote Slide 15/18
        img(src="images/ll/15.svg" style='height: 100%')

      section
        div.flonote Slide 16/18
        img(src="images/ll/16.svg" style='height: 100%')

      section
        div.flonote Slide 17/18
        img(src="images/ll/17.svg" style='height: 100%')

      section
        div.flonote Slide 18/18
        img(src="images/ll/18.svg" style='height: 100%')



    div.poke


    script(src='build/build.js?v1511302330D')
